[submodule "3rdparty/doctest"]
	path = 3rdparty/doctest
	url = https://github.com/onqtam/doctest
[submodule "3rdparty/gfx"]
	path = 3rdparty/gfx
	url = git@github.com:joseluiscd/gfx.git
[submodule "3rdparty/entt"]
	path = 3rdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "3rdparty/asyncplusplus"]
	path = 3rdparty/asyncplusplus
	url = https://github.com/Amanieu/asyncplusplus.git
